.header{
  display: flex;
  flex-wrap: wrap;
}

.project_table{
  display: flex;
  flex-wrap: wrap;
}

/*Designed for Nexus 360px*/
@media screen and (max-width:361px) {
  .header {
    width: 100%;
  }
  .header_title{
    width: 100%;
  }
  .header_name {
    width: 100%;
  }
  .logo {
    width: 100%;
  }
  .header_logo {
    width: 100%;
  }
  .projects {
    width: 100%;
  }
  h5{
    width: 100%;
  }
  .project_list{
    width: 75%;
  }
  .project_url {
    width: 100%;
  }
  .project_img{
    width: 100%;
  }
}

/*Designed for iPad 1024px*/
@media screen and (min-width:768px){
  .header {
    width: 100%;
  }
  .header_title{
    width: 100%;
  }
  .header_name {
    width: 100%;
    font-size: 28px;
  }
  .logo {
    width: 100%;
  }
  .header_logo {
    width: 100%;
  }
  .caption{
    font-size: 14px;
  }
  .projects {
    width: 100%;
  }
  h5{
    width: 100%;
    font-size: 50px;
  }
  .project_list{
    width: 75%;
  }
  .project_url {
    width: 100%;
    font-size: 30px;
  }
  .project_img{
    width: 100%;
  }
}

@media screen and (min-width:1024px){
  .header {
    width: 100%;
  }
  .header_title{
    width: 100%;
  }
  .header_name {
    width: 100%;
    font-size: 40px;
  }
  .logo {
    width: 100%;
  }
  .header_logo {
    width: 100%;
  }
  .caption{
    font-size: 14px;
  }
  .projects {
    width: 75%;
  }
  h5{
    width: 100%;
    font-size: 60px;
  }
  .project_list{
    width: 50%;
  }
  .project_url {
    width: 100%;
    font-size: 28px;
  }
  .project_img{
    width: 50%;
  }
}
